.main__header {
  width: 100vw;
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  margin-top: 3rem;
  background: var(--color-primary);
}

.main__header-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.main__header-left {
  margin-top: -3rem;
}

.main__header-left h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: 700;
}

.main__header-left p {
  margin: 1rem 0 3.5rem;
  font-size: 1.1rem;
  color: var(--color-gray-100);
}

.main__header-left .btn {
  background: var(--color-gray-600);
}

.main__header-right {
  display: grid;
  place-items: center;
  position: relative;
}

.main__header-image {
  position: relative;
}

/* .main__header-circle {
  width: 25rem;
  height: 25rem;
  background: linear-gradient(75deg, var(--color-secondary), transparent);
} */

/* === Services === */
.services-main {
  margin-top: 4rem;
  padding: 2rem;
  background: var(--color-primary);
}

.services-main__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}

.services-main__service a {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-main__service a:hover {
  background: var(--color-secondary);
  color: var(--color-gray-600);
}

/* === AdvantagesMini === */
.advantages-mini {
  margin-top: 2rem;
  padding: 2rem;
}

.advantages-mini__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 2rem;
}

/* === Advantages === */
.advantages {
  background: var(--color-primary);
  padding: 2rem;
}

.advantages__container {
  display: grid;
  grid-template-columns: 38% 50%;
  gap: 12%;
}

.advantages__image {
  filter: saturate(0.25);
  overflow: hidden;
  border-radius: 2rem;
  transition: var(--transition);
}

.advantages__image:hover {
  filter: saturate(1);
}

.advantages__right>p {
  margin: 1.5rem 0 5rem;
  color: var(--color-gray-600);
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.4rem 2.4rem;
}

.card.advantages__advantage {
  padding-top: 3.5rem;
  text-align: left;
  position: relative;
}

.card.advantages__advantage span {
  position: absolute;
  top: -1.5rem;
}

/* === FAQs === */
.faqs__wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 5rem;
  align-items: flex-start;
}

.faq {
  background: var(--color-gray-500);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.faq div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__icon {
  background: transparent;
  color: var(--color-gray-100);
  font-size: 1.5rem;
}

.faq p {
  margin-top: 1.5rem;
}

/* === Brands === */
.brands {
  margin-top: 4rem;
  padding: 2rem;
}

.brands__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}

/* === Footer === */
footer {
  background: var(--color-primary);
  margin-top: 7rem;
  padding-top: 7rem;
  font-size: 0.9rem;
  color: var(--color-gray-100);
}

.footer__container {
  display: grid;
  grid-template-columns: 26rem repeat(3, 1fr);
  gap: 6rem;
}

.footer__container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}

.footer__container article a {
  color: var(--color-white);
}

.footer__container article p {
  margin-top: 0.5rem;
}

.footer__container article h4 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

.footer__socials {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer__socials a {
  background: var(--color-gray-100);
  padding: 0.7rem;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  transition: var(--transition);
}

.footer__socials a svg {
  color: var(--color-gray-600);
}

.footer__socials a:hover {
  border-color: var(--color-gray-100);
  background: transparent;
}

.footer__copyright {
  color: var(--color-gray-100);
  text-align: center;
  padding: 1.5rem 0;
  border-top: 2px solid var(--color-primary-variant);
  margin-top: 5rem;
}

/* Media queries (md) */
@media screen and (max-width:1024px) {

  /* Main header */
  .main__header {
    height: fit-content;
    padding: 12rem 0;
  }

  .main__header-container {
    gap: 0;
  }

  /* services */
  .services-main__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  /* Advantages */
  .advantages__container {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 4rem;
  }

  .advantages__wrapper {
    gap: 4rem 3rem;
  }

  .advantages__image {
    display: none;
  }

  /* AdvantagesMini */
  .advantages-mini__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  /* Faqs */
  .faqs__wrapper {
    grid-template-columns: 1fr;
  }

  /* Footer */
  .footer__container {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

/* Media queries (sm) */
@media screen and (max-width: 600px) {

  /* Main header */
  .main__header {
    margin-top: 0;
    padding: 12rem 0 0;
    height: 100vh;
  }

  .main__header-image {
    display: none;
  }

  .main__header-container {
    grid-template-columns: 1fr;
  }

  /* Services */
  .services-main__wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 3rem;
  }

  .services-main__service {
    width: 84%;
    margin: 0 auto;
  }

  /* Advantages */
  .advantages__wrapper {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .card.advantages__advantage {
    width: 84%;
    margin-inline: auto;
  }
  
  /* AdvantagesMini */
  .advantages-mini__wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 3rem;
  }

  .advantages-mini__advantage {
    width: 84%;
    margin: 0 auto;
  }

  /* Faqs */
  .faqs__wrapper {
    gap: 1rem;
    margin-top: 3rem;
  }

  .brands__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 3rem;
  }

  /* Footer */
  footer {
    margin-top: 7rem;
  }

  .footer__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .footer__container article {
    align-items: center;
  }

  .footer__container article p {
    text-align: center;
  }
}