*,
*::before,
*::after {
  margin: 0;
  /* padding: 0; */
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-hue: 210;
  --gray-hue: 240;
  --color-primary: hsl(var(--primary-hue), 100%, 50%);
  --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
  --color-secondary: #8bc53f;
  --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
  --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
  --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
  --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
  --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
  --color-gray-600: hsl(var(--gray-hue), 48%, 15%);

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 500ms ease;
}

/* Global styles */

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-gray-200);
  line-height: 1.7;
  overflow-x: hidden;
  background: var(--color-gray-600);
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--color-gray-100);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: var(--color-gray-100);
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/* variant-2 */
/* .btn {
  position: relative;
  padding: 0.6rem 0.9rem;
  font-size: 1.5rem;
  color: var(--color-secondary);
  text-shadow: 0 0 15px var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  transition: 0.5s;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.btn:hover {
  color: var(--color-gray-100);
  border: 2px solid rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 var(--color-secondary);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.btn:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--color-secondary),
    0 0 30px var(--color-secondary),
    0 0 60px var(--color-secondary);
}

.btn span {
  position: absolute;
  background: var(--color-secondary);
  pointer-events: none;
  box-shadow: 0 0 10px var(--color-secondary),
    0 0 20px var(--color-primary-variant),
    0 0 30px var(--color-primary-variant),
    0 0 50px var(--color-primary-variant),
    0 0 100px var(--color-primary-variant),
  ;
}

.btn span:nth-child(1),
.btn span:nth-child(3) {
  width: 40px;
  height: 4px;
}

.btn span:nth-child(2),
.btn span:nth-child(4) {
  width: 4px;
  height: 40px;
}

.btn span:nth-child(1) {
  top: calc(50% - 2px);
  left: -50px;
  transform-origin: left;
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.btn:hover span:nth-child(1) {
  left: 50%;
  transform: scaleX(0);
  transition-delay: 0s;
}

.btn span:nth-child(3) {
  top: calc(50% - 2px);
  right: -50px;
  transform-origin: right;
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.btn:hover span:nth-child(3) {
  right: 50%;
  transform: scaleX(0);
  transition-delay: 0s;
}

.btn span:nth-child(2) {
  left: calc(50% - 2px);
  top: -50px;
  transform-origin: top;
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.btn:hover span:nth-child(2) {
  top: 50%;
  transform: scaleY(0);
  transition-delay: 0s;
}

.btn span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -50px;
  transform-origin: bottom;
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.btn:hover span:nth-child(4) {
  bottom: 50%;
  transform: scaleY(0);
  transition-delay: 0s;
} */

/* variant-1 */
.btn {
  color: var(--color-gray-100);
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background: var(--color-primary);
  border-radius: 1.5rem;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-secondary);
  color: var(--color-gray-600);
}

.btn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.btn.sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}

.btn.sm:hover {
  background:var(--color-gray-100) ;
}

section {
  margin-top: 10rem;
}

.section__head {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section__head span {
  background: var(--color-gray-500);
  padding: 0.8rem;
  border-radius: 1rem;
  color: var(--color-secondary);
  font-size: 1.5rem;
}

.card {
  background: var(--color-gray-500);
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0 3rem 0 3rem;
  transition: var(--transition);
}

.card:hover {
  background: transparent;
  border-color: var(--color-gray-400);
  cursor: default;
}

.card span {
  width: 3rem;
  height: 3rem;
  background: var(--color-primary);
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}

.card:hover span {
  background: var(--color-secondary);
  color: var(--color-gray-600);
}

.card small {
  margin-top: 1rem;
  display: block;
  font-weight: 300;
}

